:root {
  /* fonts */

  /* text-colors */
  --main-txt-cl: #0c3e2e;
  --secondary-txt-cl: #bb8a52;

  /* bg-colors */

  /* others */
}

body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--main-txt-cl);
}

/* font-family: "Kaisei Decol", sans-serif;
font-family: "Balsamiq Sans", sans-serif; */

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

/*
  |==============================
  | HEADER
  |==============================
*/

.header {
  background-image: url("../images/header-bg.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

.header__top {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  gap: 30px;
  align-items: center;
}

.menu__link {
  text-transform: uppercase;
  color: var(--main-txt-cl);
}

.phone {
  color: var(--secondary-txt-cl);
}
