:root {
  /* fonts */
  --main-font: "Inter", sans-serif;
  --secondary-font: "Balsamiq Sans", sans-serif;
  --third-font: "Kaisei Decol", sans-serif;

  /* text-colors */
  --main-txt-cl: #0c3e2e;
  --secondary-txt-cl: #bb8a52;

  /* bg-colors */
  --accent-bg-color: #ffba00;

  /* others */
}

body {
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--main-txt-cl);
}

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 50px;
}

.subtitle {
  font-weight: 600;
  font-size: 28px;
}

/*
  |==============================
  | HEADER
  |==============================
*/

.header {
  background-image: url("../images/header/header-bg.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  margin-bottom: 150px;
}

.header__container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-top {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  gap: 30px;
  align-items: center;
}

.menu__link {
  text-transform: uppercase;
  color: var(--main-txt-cl);
  font-size: 16px;
  line-height: 1.18;
}

.phone {
  color: var(--secondary-txt-cl);
}

/*
  |==============================
  | HEADER CONTENT
  |==============================
*/

.header-content {
}
.header-content__inner {
  display: flex;
  column-gap: 22px;
  align-items: center;
  justify-content: space-between;
}
.header-content__box {
  flex: 0 1 50%;
}

.header-content__text {
  max-width: 510px;
}

.header-content__title {
  font-weight: 600;
  font-size: 48px;
  margin: 20px 0 80px;
  max-width: 428px;
}
.header-content__text--red {
  color: #cc2e2e;
}

.header-content__btn {
  display: inline-block;
  padding: 20px 38.5px;
  background-color: var(--accent-bg-color);
  font-size: 20px;
  margin-top: 50px;
}

.header-content__img {
  flex: 0 1 50%;
}

.header__text {
  text-align: center;
  font-size: 24px;
  margin: 0 auto;
  padding: 25px 0;
}

/*
  |==============================
  | ABOUT
  |==============================
*/

.about {
  margin-bottom: 150px;
}

.about-inner {
  display: flex;
  gap: 22px;
  justify-content: space-between;
  align-items: center;
}
.about-inner__img {
  flex: 0 1 50%;
}
.about-inner__box {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 30px;
}
.about-inner__text {
  max-width: 506px;
}

.about-inner__text span {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 24px;
}

.about-inner__title {
  font-weight: 600;
  font-size: 28px;
}
.about-inner__list {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  color: var(--secondary-txt-cl);
  text-align: center;
}

.about-inner__list dt {
  margin-bottom: 5px;
  font-size: 48px;
  font-weight: 600;
}

/*
  |==============================
  | WHY
  |==============================
*/

.why {
  margin-bottom: 150px;
}

.why__text {
  max-width: 583px;
  margin-bottom: 40px;
}
.why__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 33px;
}
.why__img {
}
.why__list {
  font-weight: 600;
  font-size: 28px;
  list-style-type: none;
  counter-reset: my-counter;
}

.why__item::before {
  content: counter(my-counter);
  counter-increment: my-counter;
  padding-right: 11px;
}

.why__item:not(:last-child) {
  margin-bottom: 55px;
}
/* .why__item + .why__item {
  margin-top: 55px;
} */

.why__item.pl--70 {
  padding-left: 70px;
}

.why__item.pl--103 {
  padding-left: 103px;
}

/*
  |==============================
  | PROJECTS
  |==============================
*/

.projects {
  margin-bottom: 120px;
}
.projects__text {
  max-width: 593px;
  margin-bottom: 30px;
}
.gallery-projects {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.gallery__item {
  grid-area: span 2;
}

.gallery-projects__text {
  padding: 20px 0;
  text-align: center;
}

.gallery-projects__img {
  border-radius: 40px;
  border: 1px solid var(--accent-bg-color);
}

/*
  |==============================
  | SERVICES
  |==============================
*/

.services {
  margin-bottom: 150px;
}

.services__subtitle {
  margin-bottom: 30px;
}
.services__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.services__item {
}
.services__img {
}
.services__text {
}
